/* header */

header {
  background-color: rgb(195, 192, 192);

  border-bottom: 3px solid black;
  padding: 25px 15px 25px 15px;
}
.header-container {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-around;
}
h1 {
  padding-left: 25px;
  margin-bottom: 15px;
  border-bottom: 3px solid rgb(0, 0, 0);
}
nav {
  display: flex;
  gap: 30px;
}
.input {
  padding: 8px;
  width: 50%;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 6px;
}
.btn {
  border: 3px solid rgb(0, 0, 0);
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
}
.header-btn {
  width: 10%;
  border-radius: 50px;
}

/* main */
.post-data {
  margin: 25px 50px 25px 50px;
  border-bottom: 3px solid rgb(0, 0, 0);
}
.post-item {
  margin-bottom: 30px;
}
.form {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form textarea {
  width: 50%;
}
.post {
  width: 10%;
  background-color: rgb(126, 126, 239);
  color: rgb(255, 255, 255);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.7);
}

.message {
  background-color: rgb(126, 126, 239);
  padding: 10px;
  width: 850px;
}

.message-wrap {
  display: flex;
  gap: 15px;
}
.delete-btn {
  background-color: rgb(237, 49, 49);
  color: rgb(255, 255, 255);
}

.inputForm {
  display: block;
  width: 250px;
  margin: 15px 0 15px 5px;
  padding: 10px;
}
